body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:558px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u77_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:558px;
  height:800px;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:558px;
  height:800px;
  display:flex;
}
#u77 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u77_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u78_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:88px;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:291px;
  top:699px;
  width:246px;
  height:88px;
  display:flex;
  opacity:0;
}
#u78 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u78_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u79 label {
  left:0px;
  width:100%;
}
#u79_img {
  border-width:0px;
  position:absolute;
  left:137px;
  top:0px;
  width:25px;
  height:25px;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:434px;
  width:162px;
  height:25px;
  display:flex;
}
#u79 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u79_img.selected {
}
#u79.selected {
}
#u79_img.disabled {
}
#u79.disabled {
}
#u79_img.hint.disabled {
}
#u79.hint.disabled {
}
#u79_img.selected.disabled {
}
#u79.selected.disabled {
}
#u79_img.error.disabled {
}
#u79.error.disabled {
}
#u79_img.selected.hint.disabled {
}
#u79.selected.hint.disabled {
}
#u79_img.error.hint.disabled {
}
#u79.error.hint.disabled {
}
#u79_img.selected.error.disabled {
}
#u79.selected.error.disabled {
}
#u79_img.selected.error.hint.disabled {
}
#u79.selected.error.hint.disabled {
}
#u79_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:133px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u79_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u80 label {
  left:0px;
  width:100%;
}
#u80_img {
  border-width:0px;
  position:absolute;
  left:137px;
  top:0px;
  width:25px;
  height:25px;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:521px;
  width:162px;
  height:25px;
  display:flex;
}
#u80 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u80_img.selected {
}
#u80.selected {
}
#u80_img.disabled {
}
#u80.disabled {
}
#u80_img.hint.disabled {
}
#u80.hint.disabled {
}
#u80_img.selected.disabled {
}
#u80.selected.disabled {
}
#u80_img.error.disabled {
}
#u80.error.disabled {
}
#u80_img.selected.hint.disabled {
}
#u80.selected.hint.disabled {
}
#u80_img.error.hint.disabled {
}
#u80.error.hint.disabled {
}
#u80_img.selected.error.disabled {
}
#u80.selected.error.disabled {
}
#u80_img.selected.error.hint.disabled {
}
#u80.selected.error.hint.disabled {
}
#u80_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:133px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u80_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u81 label {
  left:0px;
  width:100%;
}
#u81_img {
  border-width:0px;
  position:absolute;
  left:137px;
  top:0px;
  width:25px;
  height:25px;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:360px;
  top:607px;
  width:162px;
  height:25px;
  display:flex;
}
#u81 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u81_img.selected {
}
#u81.selected {
}
#u81_img.disabled {
}
#u81.disabled {
}
#u81_img.hint.disabled {
}
#u81.hint.disabled {
}
#u81_img.selected.disabled {
}
#u81.selected.disabled {
}
#u81_img.error.disabled {
}
#u81.error.disabled {
}
#u81_img.selected.hint.disabled {
}
#u81.selected.hint.disabled {
}
#u81_img.error.hint.disabled {
}
#u81.error.hint.disabled {
}
#u81_img.selected.error.disabled {
}
#u81.selected.error.disabled {
}
#u81_img.selected.error.hint.disabled {
}
#u81.selected.error.hint.disabled {
}
#u81_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:4px;
  width:133px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u81_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
