body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:750px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u14_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:3647px;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:3647px;
  display:flex;
}
#u14 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:384px;
  height:112px;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:183px;
  top:3436px;
  width:384px;
  height:112px;
  display:flex;
  opacity:0;
}
#u15 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16 label {
  left:0px;
  width:100%;
}
#u16_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:589px;
  top:503px;
  width:87px;
  height:25px;
  display:flex;
}
#u16 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u16_img.selected {
}
#u16.selected {
}
#u16_img.disabled {
}
#u16.disabled {
}
#u16_img.hint.disabled {
}
#u16.hint.disabled {
}
#u16_img.selected.disabled {
}
#u16.selected.disabled {
}
#u16_img.error.disabled {
}
#u16.error.disabled {
}
#u16_img.selected.hint.disabled {
}
#u16.selected.hint.disabled {
}
#u16_img.error.hint.disabled {
}
#u16.error.hint.disabled {
}
#u16_img.selected.error.disabled {
}
#u16.selected.error.disabled {
}
#u16_img.selected.error.hint.disabled {
}
#u16.selected.error.hint.disabled {
}
#u16_text {
  border-width:0px;
  position:absolute;
  left:25px;
  top:5px;
  width:58px;
  white-space:nowrap;
  text-transform:none;
}
#u16_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
